* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}
.main-cover {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url("/assets/main-cover.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    animation: look-down 1.3s ease-in forwards;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.phone-hand {
    background-image: url("/assets/mobile.png");
    width: 644px;
    height: 792px;
       /* min-width: 400px;
    min-height: calc(400px*1.33); */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: +10;
    animation-name: phone-up, phone-side;
    animation-duration: 1.3s, 0.9s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in, cubic-bezier(0.18, 0.17, 0, 1.17);
    animation-delay: 0s, 1.7s;
}

@keyframes look-down {
    100% {
        background-position-y: 80%;
    }
    0% {
        background-position-y: 10%;
    }
}

@keyframes phone-up {
    0% {
        transform: translateY(+1000%);
    }
    50% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes phone-side {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(80%);
    }
}

@media screen and (max-width: 1670px) {
    @keyframes phone-side {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(70%);
        }
    }
}

@media screen and (max-width: 1550px) {
    @keyframes phone-side {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(60%);
        }
    }
}

@media screen and (max-width: 1400px) {
    .main-cover {
        background-size: 100%;
    }
    .phone-hand {
        width: calc(644px*0.9);
        height: calc(792px*0.9);
    }
}

@media screen and (max-width: 1250px) {
    body {
        height: 100vh;
    }
    .main-cover {
        background-size: 120%;
    }
    /*.phone-hand {
        width: calc(644px*0.8);
        height: calc(792px*0.85);
    } */
    @keyframes phone-side {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(60%);
        }
    }
}
@media screen and (max-width: 1100px) {

    .main-cover {
        background-size: 180%;
    }
    @keyframes phone-side {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(45%);
        }
    }
}
@media screen and (max-width: 900px) {

    .main-cover {
        background-size: 180%;
    }
    @keyframes phone-side {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}
@media screen and (max-width: 700px) {

    .phone-hand {
        width: 100vw;
        height: calc(100vw*792/694);
    }
    .main-cover {
        background-size: 250%;
    }
}
